{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script>
    $(function () {
        var name = $("#name"),
                industry = $('#industry'),
                scale = $('#scale'),
                info = $('#info'),
                addr = $('#addr'),
                tel = $('#tel'),
                mail = $('#mail'),
                tips = $(".validateTips");

        function updateTips(t) {
            tips
                    .text(t)
                    .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }

        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips("" + n + " 的长度必须在 " +
                        min + " 和 " + max + " 之间。");
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp(o, regexp, n) {
            if (!( regexp.test(o.val()) )) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }

        $("#dialog-form").dialog({
            autoOpen: false,
            height: 550,
            width: 420,
            modal: true,
            buttons: {
                "添加一个用户": function () {
                    var bValid = true;
                    //allFields.removeClass("ui-state-error");
                    if (bValid) {
                        $("#users").append("<tr>" +
                                "<td>" + name.val() + "</td>" +
                                "<td>" + industry.val() + "</td>" +
                                "<td>" + scale.val() + "</td>" +
                                "<td>" + tel.val() + "</td>" +
                                "</tr>");
                        $.ajax({
                            type: "GET",
                            url: "addCom",
                            data: {
                                name: name.val(),industry:industry.val(),scale:scale.val(),
                                info:info.val(),addr:addr.val(),tel:tel.val(),mail:mail.val()
                            },
                            success: function (msg) {
                                $("td:empty")[0].val(msg)
                            }
                        });
                        $(this).dialog("close");
                        $('#name').val("");
                        $('#industry').val("");
                        $('#scale').val("");
                        $('#info').val("");
                        $('#tel').val("");
                        $('#mail').val("");

                    }
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {
            }
        });

        $("#create-user")
                .button()
                .click(function () {
                    $("#dialog-form").dialog("open");

                });
    });
</script>
{% endblock %}

{% block title %}student{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container widthfixed">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">毕业生就业管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="nav1"><a href="adminSM">学生管理</a></li>
                <li id="nav2"><a href="adminCM">企业管理</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="3">Admin</a></li>
                <li class="active"><a href="">注销<span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
{% block content %}

<div class="container margintop50 widthfixed">
    <div id="dialog-form" title="添加学生">
        <p class="validateTips">所有的表单字段都是必填的。</p>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name">名称</label>
                <input type="text" name="name" id="name" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="industry">行业</label>
                <select id="industry" class="form-control">
                    <option>男</option>
                    <option>女</option>
                </select>
            </div>
            <div class="form-group">
                <label for="scale">规模</label>
                <input type="text" name="scale" id="scale" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="info">简介</label>
                <input type="text" name="info" id="info" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="addr">地址</label>
                <input type="text" name="addr" id="addr" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="tel">电话</label>
                <input type="text" name="tel" id="tel" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="mail">邮箱</label>
                <input type="text" name="mail" id="mail" value="" class="form-control">
            </div>
        </form>
    </div>


    <div>
        <h1>已有的用户：</h1>
        <table id="users" class="table table-striped">
            <tr>
                <td>名称</td>
                <td>行业</td>
                <td>规模</td>
                <td>电话</td>
            </tr>
            {% for com in companys %}
            <tr>
                <td>{{com.name}}</td>
                <td>{{com.industry}}</td>
                <td>{{com.scale}}</td>
                <td>{{com.tel}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button id="create-user">添加企业</button>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
