{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
{% if True %}
<script>
    $(function () {
        $("#dialog-confirm").dialog({
            autoOpen: false,
            width:400,
            height: 160,
            modal: true,
            buttons: {
                "确认": function () {
                    $.ajax({
                            type: "GET",
                            url: "delivery",
                            data: {
                                uid:'{{uid}}',
                                pid:'{{position.id}}'
                            },
                            success: function (msg) {
                                alert("success");
                            }
                        });
                    $('#confirm_delivery').val('已投递');
                    $(this).dialog("close");
                },
                取消: function () {
                    $(this).dialog("close");
                }
            }
        });
        $("#confirm_delivery")
                .button()
                .click(function () {
                    $("#dialog-confirm").dialog("open");

                });
    });
</script>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="container widthfixed">
    <div id="dialog-confirm" title="确认投递">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>请再检查简历</p>
    </div>
    <div class="job-info">
        <div class="left">
            <h3>{{position.company_name}}</h3>
            <h4>{{position.name}}</h4>
        </div>
        <div class="right">
            <button class="btn btn-primary btn-lg"id="confirm_delivery">
                提交简历
            </button>
        </div>
        <div class="bottom">
            <p>工作地点：{{position.city}}</p>
        </div>
    </div>
    <div class="job-detail">
        <h3>职位说明</h3>
        <p>{{position.description}}</p>
        <h3>职位要求</h3>
        <ul class="list-group">
            {% for re in rl %}
            <li class="list-group-item">{{re}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}