{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
{% if True %}
<script>
    $(function () {
        var name = $("#name"),
                addr = $("#addr"),
                num = $("#num"),
                salary = $('#salary'),
                degree = $('#degree'),
                req = $('#req'),
                info = $('#info'),
                cname = '{{company.name}}',
                tips = $(".validateTips");

        function updateTips(t) {
            tips
                    .text(t)
                    .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }

        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips("" + n + " 的长度必须在 " +
                        min + " 和 " + max + " 之间。");
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp(o, regexp, n) {
            if (!( regexp.test(o.val()) )) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }

        $("#dialog-form").dialog({
            autoOpen: false,
            height: 550,
            width: 420,
            modal: true,
            buttons: {
                "添加一个用户": function () {
                    var bValid = true;
                    //allFields.removeClass("ui-state-error");
                    if (bValid) {
                        $("#users").append("<tr>" +
                                "<td>" + name.val() + "</td>" +
                                "<td>" + addr.val() + "</td>" +
                                "<td>" + num.val() + "</td>" +
                                "<td>" + 0 + "</td>" +
                                "</tr>");
                        var data = {
                                cname:cname,name:name.val(),city:addr.val(),num:num.val(),salary:salary.val(),
                                degree:degree.val(),info:info.val(),req:req.val()
                            };
                        $.ajax({
                            type: "GET",
                            url: "addPosition",
                            data: data,
                            success: function (msg) {
                                alert("success");
                            }
                        });
                        $(this).dialog("close");
                        $('#name').val("");
                    }
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            },
            close: function () {
            }
        });

        $("#create-user")
                .button()
                .click(function () {
                    $("#dialog-form").dialog("open");

                });
    });
</script>
{% endif %}
{% endblock %}

{% block title %}student{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container widthfixed">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">毕业生就业管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="3">Admin</a></li>
                <li class="active"><a href="">注销<span class="sr-only">(current)</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
{% block content %}

<div class="container margintop50 widthfixed">
    <div id="dialog-form" title="添加职位">
        <p class="validateTips">所有的表单字段都是必填的。</p>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="name">职位名称</label>
                <input type="text" name="name" id="name" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="addr">工作地点</label>
                <input type="text" name="addr" id="addr" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="num">招聘人数</label>
                <input type="text" name="num" id="num" value="" class="form-control">
            </div>
            <div class="form-group">
                <label for="degree">学历</label>
                <input type="text" name="degree" id="degree" class="form-control">
            </div>
            <div class="form-group">
                <label for="salary">薪水</label>
                <input type="text" name="salary" id="salary" class="form-control">
            </div>
            <div class="form-group">
                <label for="info">职位描述</label>
                <textarea id="info" rows="3" placeholder="简介" class="form-control"></textarea>
            </div>
             <div class="form-group">
                <label for="req">职位要求</label>
                <textarea id="req" rows="3" placeholder="用分号隔开" class="form-control"></textarea>
            </div>
        </form>
    </div>


    <div>
        <table id="users" class="table table-striped">
            <tr>
                <td>职位名称</td>
                <td>工作地点</td>
                <td>招聘人数</td>
                <td>投递人数</td>
                <td>功能</td>
            </tr>
            {% for p in positions %}
            <tr>
                <td>{{p.name}}</td>
                <td>{{p.city}}</td>
                <td>{{p.num}}</td>
                <td>{{p.deliveried}}</td>
                <td><a id="view" href="deliveried/{{p.id}}">查看</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <button id="create-user">添加职位</button>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
