{% extends "base.html" %}
{% block page_content %}


    <div class="container widthfixed">
        <div class="first_floor">
            <div class="left" id="photo" onclick="document.location='/upload'">
                {% if baseinfo.photo == '' %}
                <a>点击添加头像</a>
                {% endif %}
            </div>
            <div class="right">
                <h2>{{baseinfo.name}}</h2>
                <span>{{baseinfo.major}}   </span><span>{{baseinfo.school}}</span>
                <p>{{baseinfo.degree}}</p>
                <p>{{baseinfo.mail}}</p>
                <p>{{baseinfo.tel}}</p>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="second_floor">
            <div class="floor_title">
                <span class="exp">教育经历</span>
                <a class="edit">编辑</a>
            </div>
            <ul class="floor_content">
                {% for item in exp[0]%}
                    <li>
                        <span>{{item.datefrom}} -- {{item.dateto}}</span>
                        <span>{{item.shcool}}</span>
                        <span>{{item.major}}</span>
                        <span>{{item.degree}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="third_floor">
            <div class="floor_title">
                <span class="exp">工作经历</span>
                <a class="edit">编辑</a>
            </div>
            <ul class="floor_content">
                {% for item in exp[1]%}
                    <li>
                        <span>{{item.datefrom}} -- {{item.dateto}}</span>
                        <span>{{item.company}}</span>
                        <span>{{item.position}}</span>
                        <p>{{item.jobdescription}}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    <div class="fourth_floor">
            <div class="floor_title">
                <span class="exp">获奖经历</span>
                <a class="edit">编辑</a>
            </div>
            <ul class="floor_content">
                {% for item in exp[2]%}
                    <li>
                        <span>{{item.date}} </span>
                        <span>{{item.name}} </span>
                        <span>{{item.rank}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
    {% if True %}
        <script>
            document.getElementById('nav3').setAttribute('class', 'active');
            function btn_mail() {
                var text = $('#mail_text').val();
                alert(text);
            }
            $('#photo').css("background-image","url({{baseinfo.photo}})");
            $("#mail").click(function(){
                $(this).html("<form>" +
                        "<input type='text' name='mail_text'>" +
                        "<input type='submit' value='确认'>" +
                        "</form>")
            });
        </script>
    {% endif %}
{% endblock %}